# Q-1 Write a python program to check the validity of the password

In [18]:
l, u, p, d = 0, 0, 0, 0
s = input('ENTER YOUR PASSWORD: ')
if (len(s) >= 8 and len(s)<=16):
    for i in s:
 
        # counting lowercase alphabets
        if (i.islower()):
            l+=1           
 
        # counting uppercase alphabets
        if (i.isupper()):
            u+=1           
 
        # counting digits
        if (i.isdigit()):
            d+=1           
 
        # counting the mentioned special characters
        if(i=='@'or i=='$' or i=='_'):
            p+=1          
if (l>=1 and u>=1 and p>=1 and d>=1 and l+p+u+d==len(s)):
    print("Valid Password")
else:
    print("Invalid Password")

ENTER YOUR PASSWORD: cdfsd
Invalid Password

# Q-2 Write a python program to find numbers between 100 and 400 where each number of digit is even number

In [19]:
for i in range(100,402):
    if (i%2==0):
        print(i,end=',')
        i+=1

100,102,104,106,108,110,112,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150,152,154,156,158,160,162,164,166,168,170,172,174,176,178,180,182,184,186,188,190,192,194,196,198,200,202,204,206,208,210,212,214,216,218,220,222,224,226,228,230,232,234,236,238,240,242,244,246,248,250,252,254,256,258,260,262,264,266,268,270,272,274,276,278,280,282,284,286,288,290,292,294,296,298,300,302,304,306,308,310,312,314,316,318,320,322,324,326,328,330,332,334,336,338,340,342,344,346,348,350,352,354,356,358,360,362,364,366,368,370,372,374,376,378,380,382,384,386,388,390,392,394,396,398,400,

# Q-3 Write a python program to check whether the triangle is equilateral, isoceles, or scalene.

In [20]:
a = int(input('ENTER FIRST SIDE: '))
b = int(input('ENTER SECOND SIDE: '))
c = int(input('ENTER THIRD SIDE: '))
if a==b and b==c:
    print('ITS EQUILATERAL TRIANGLE')
elif a!=b and b!=c:
    print('ITS SCALENE TRIANGLE')
else:
    print('ITS ISOCELES TRIANGLE')

ENTER FIRST SIDE: 10
ENTER SECOND SIDE: 20
ENTER THIRD SIDE: 30
ITS SCALENE TRIANGLE

# Q-4 Write a python program to get next day of given date

In [24]:
year = int(input("Input a year: "))

if (year % 400 == 0):
    leap_year = True
elif (year % 100 == 0):
    leap_year = False
elif (year % 4 == 0):
    leap_year = True
else:
    leap_year = False
    

month = int(input("Input a month [1-12]: "))

if month in (1, 3, 5, 7, 8, 10, 12):
    month_length = 31
elif month == 2:
    if leap_year:
        month_length = 29
    else:
        month_length = 28
else:
    month_length = 30

    
day = int(input("Input a day [1-31]: "))

if day < month_length:
    day += 1
else:
    day = 1
    if month == 12:
        month = 1
        year += 1
    else:
        month += 1
print("The next date is [yyyy-mm-dd] %d-%d-%d." % (year, month, day))

Input a year: 2022
Input a month [1-12]: 11
Input a day [1-31]: 10
The next date is [yyyy-mm-dd] 2022-11-11.

# Q-5 Write a python program to print alphabet pattern

In [25]:
result_str="";    
for row in range(0,7):    
    for column in range(0,7):     
        if (((column == 1 or column == 5) and row != 0) or ((row == 0 or row == 3) and (column > 1 and column < 5))):    
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

  ***
 *   *
 *   *
 *****
 *   *
 *   *
 *   *

In [ ]:
# Q-6 Write a python program for Given number N such that N >= 5. The task is to print a Hut Star Pattern with (N + 3) rows as shown in the below examples.

# Q-7 Write a python program to find the quadrant through given co-ordinates

In [26]:
x= int(input('ENTER THE X-COORDINATES: '))
y = int(input('ENTER THE Y-COORDINATES: '))
if (x<0 and y<0):
    print('SHAPE IS IN THIRD QUADRANTS')
elif (x<0 and y>0):
    print('SHAPE IS IN SECOND QUADRANTS')
elif (x>0 and y<0):
    print('SHAPE IS IN FOURTH QUADRANTS')
else:
    print('SHAPE IS IN FIRST QUADRANTS')

ENTER THE X-COORDINATES: 2
ENTER THE Y-COORDINATES: -3
SHAPE IS IN FOURTH QUADRANTS

# Q-8 Write a python program to construct a nested loop

In [27]:
n=int(input('ENTER LOOP NUMBER: '))
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')
    
for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

ENTER LOOP NUMBER: 5

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# Q-9 Write a python program to construct the following pattern, using a nested for loop.

a = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O']

# Q-10 Write a python program break a list into chunks

In [28]:
a = [1, 2, 3, 4, 5,6, 7, 8, 9,10,11]
start = 0
end = len(a)
N = int(input('ENTER YOUR NUMBER: '))
for i in range(start, end, N):
    x = i
    print(a[x:x+N])

ENTER YOUR NUMBER: 2
[1, 2]
[3, 4]
[5, 6]
[7, 8]
[9, 10]
[11]